<h2>Register</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" action="/Account/Register" novalidate="novalidate">
            <h4>Create a new account.</h4>
            <hr>
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address."
                    data-val-required="The Email field is required." id="Email" name="Email" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="Username">Username</label>
                <input class="form-control" type="text" data-val="true" data-val-maxlength="The field Username must be a string or array type with a maximum length of '30'."
                    data-val-maxlength-max="30" data-val-minlength="The field Username must be a string or array type with a minimum length of '2'."
                    data-val-minlength-min="2" data-val-required="The Username field is required." id="Username" name="Username"
                    value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input class="form-control" type="password" data-val="true" data-val-length="The Password must be at least 6 and at max 100 characters long."
                    data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password"
                    name="Password">
                <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm password</label>
                <input class="form-control" type="password" data-val="true" data-val-equalto="The password and confirmation password do not match."
                    data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword">
                <span class="text-danger field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8BAShfVHtUNCi2kdQA71t2ZN7v5kMX6I3X1zOg3eQPT03MQJm7FduSe6-_RL20KXv13jX-IXAEgySoiLn935yXdspvhafGNymmDQAJY7a_uf2iu6Y7gJnCx5OqekB4Y5WfT86uHEqZ-sXj_lQ3w0CNM">
        </form>
    </div>
</div>