<div class="container">
    <h2>Products</h2>

    <form class="form-search">
        <div class="input-append">
            <input type="text" class="span2">
            <button type="submit" class="btn">Search</button>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Type</th>
                <th>Is Cookable</th>
                <th>Has recipe</th>
                <th>Order time/min</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.type}}</td>
                <td>{{product.isCookable}}</td>
                <td>{{product.hasRecipe}}</td>
                <td>{{product.orderTimes}}</td>
                <td>
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-warning mb-2">Recipe</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>