<!--<div class="imgContent">
   
    <div class="col-md-4 col-sm-12">
        <div class="manager">
          <img src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?auto=format&fit=crop&w=750&q=80">
          <div class="carousel-caption">
            <a routerLink="/menager"><h4>manager link go to profile here</h4></a>
          </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-12">
        <div class="weitress">
          <img src="https://images.unsplash.com/photo-1496811425508-6d7ebb7ff32c?auto=format&fit=crop&w=729&q=80">
          <div class="carousel-caption">
            <a routerLink="/weitress"><h4>weitress link go to profile here</h4></a>
            </div></div>
      </div>
      <div class="col-md-4 col-sm-8">
        <div class="Cookers">
          <img src="https://images.unsplash.com/photo-1488992783499-418eb1f62d08?auto=format&fit=crop&w=853&q=80">
          <div class="carousel-caption">
              <a routerLink="/cooker"><h4>Cookers link go to profile here</h4></a>
            </div>
        </div>
      </div>
    </div> -->

    <div class="container dad" style="width: 100%; padding: 0px 0px 0px;">
    <div class="row" style="float: right;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="grow vertical-tab-1">
					<p class="tab-title">1</p> 
					<p class="rotate">Menu</p>
				</div>
				<div class="grow vertical-tab-2">
					<p class="tab-title">2</p> 
					<p class="rotate">Addtable</p>
				</div>
				<div class="grow vertical-tab-3">
					<p class="tab-title">3</p> 
					<p class="rotate">Contacts</p>
				</div>
				
				<div class="grow vertical-tab-4">
					<p class="tab-title">4</p> 
					<p class="rotate">Aboutus</p>
				</div>
		</div>
	</div>
</div>