<div class="container">
    <h2>Products</h2>
    <div class="span2">
        <button type="button" class="btn btn-success">Success</button>
    </div>
    <div class="span4">
        <form class="form-search">
            <div class="input-append">
                <input type="text" class="span2">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Tables</th>
                <th>Type</th>
                <th>Is for smokers</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let section of sections">
                <td>{{section.Id}}</td>
                <td>{{section.Name}}</td>
                <td>
                    <span class="label label-info" *ngFor="let table of section.Tables">
                        {{table.Number}}
                    </span>
                </td>
                <td>{{section.Type}}</td>
                <td>{{section.IsForSmokers}}</td>
                <td>
                    <button type="submit" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>