<div class="container">
    <h2>My Bills</h2>
      
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Bill #</th>
            <th>Ammont</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of bills">
            <th scope="row">{{bill.id}}</th>
            <td>{{bill.amount}}</td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
              <td>Total Money</td>
              <td>{{bill.sum}}</td>
            </tr>
          </tfoot>
      </table>
      </div>
