<table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Product Type</th>
        <th>Waiter Name</th>
        <th>Order Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>kartofena salata</td>
        <td>salad</td>
        <td>vesko</td>
        <td>get current date</td>
        <td>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-warning mb-2">Ready</button>
        </div>
      </td>
      </tr>
    </tbody>
  </table>